/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles - MOBILE FIRST
  ========================================
*/
body {
	/* background: #293f50;
    color: #888; */
    background-color: #f9f9f9;
    font: 300 14px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
  }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0px;
}

.a {
    color: #000;
}

/*  
======================
Navbar 
======================
*/
.header {
    background-color: #fff;
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    height: 3rem;
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;
    z-index: 3;
}

.header ul {
    background-color: white;
    list-style: none;
    margin: 0;
    
    overflow: hidden;
    padding: 0;
}

.header li a{
    display: block;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header ul a {
    border-top: 1px solid #aaa;
    
    /* height: auto; */
    padding: 20px;
    text-decoration: none;
    text-align:center;
    font-weight: 900;


}


.header ul a:hover{
    background-color: #ddd;
}


.header .logo {
    float: left;
    height: inherit;
    width: 10vh;
    margin: 0;
}

.header .logo a {
    height: inherit;
}

.header .logo img {
    display: block;
    height: inherit;
}

.header .menu {
    clear: both;
    position: relative;
    max-height: 0;
    z-index: 500;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    align-items: center;
    display: flex;
    cursor: pointer;
    float: right;
    height: inherit;
    padding: 0px 20px;
    position: relative;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #333;
    content:'';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    background: #333;
    content:'';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~  .menu {
    
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0px;
}

/* Intro/Cover photo section */
.cover {
    width: 100%;
    height: 30vh;
    background: url("../images/ucrc_cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.cover-overlay {
    width: inherit;
    height: inherit;
    background: rgba(17, 17, 17, 0.6);
    position: absolute;
}

.cover-text {
    z-index: 10;
    text-align: center;
}

.cover-text h1 {
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 0 0 5px #000000;
}

.cover-text p {
    color: white;
    font-size: 1em;
    text-shadow: 0 0 5px #000000;
}

.about {
    width: 100%;
    background-color: white;
}

.about .about-header h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
}

.about .about-text {
    padding: 5% 10% 10% 10%;
    line-height: 1.5;

}

.about-section {
    padding-bottom: 40px;
}

.about img {
    display: none;
}


.carousel {
    width: 100%;
}

.carousel img {
    display: block;
    width: 100%;
}

  /* position dots in carousel */
.flickity-page-dots {
    bottom: 10px;
}

  /* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
  /* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.social {
    width: 100%;
    background-color: white
}

.social .social-header h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    color: black;
}

.social  h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color: black;
}

.social .social-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.social h4 {
    color: black;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 5px;

}

.social .social-images img {
    width: 75px;
}

.social .email {
    padding-bottom: 20px;
}

.social .email a{
    display: inline-block;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}


/* Footer Section */
.primary-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

.primary-footer small {
    font-weight: 500;
    display: inline-block;
    width: 100%;
    text-align: center;
}




@media only screen and (min-width: 768px) {
    body {
    }

    header {
        width: 100%;
        background-color: white;

    }

    /* NavBar section */
    .header {
        height: 5vh;
        min-width: 768px;
        max-width: 90vh;

    }
    .header li {
        height: 5vh;
        border-right: none;
        float: left;
        
    }

    .header li:first-child {
        xborder-left: 1px solid #aaa;
    }

    .header li a {
        border-right: none;
        border-top: none;
        padding: 20px 30px;
        display: flex;
        height: inherit;
        align-items: center;
        text-align: center;
        
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    
    /* Cover photo section */
    .cover {
        width: 100%;
        height: 100vh;
    }

    .cover-text {
        padding-bottom: 300px;
        
    }

    .cover-text h1 {

        font-size: 4em;
        font-weight: 700;
        color: white;
        text-shadow: 0 0 5px #000000;
    }
    
    .cover-text p {
        
        font-size: 3em;
        margin: 0 20%;
        color: white;
        text-shadow: 0 0 5px #000000;
    }

    /* About Us Section */
    .about {
        margin: auto;
        width: 100%;
        background-color: white;
    }
    
    .about .about-header h2 {
        padding-top: 50px;
        text-align: center;
        font-size: 4em;
        font-weight: 600;
        color: black;
    }
    
    

    .about .about-text {
        padding: 5% 10%;
    }

    .about .about-text p {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        font-size: 2.5em;
        font-weight: 500;
        max-width: 50%;
    
    }

    .about-text .about-text1 {
        padding-right: 50px;
    }

    .about-text .about-text2 {
        padding-left: 50px;
    }

    .about-section {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }

    .text-align-left {
        text-align: left;
    }

    .text-align-right {
        text-align: right;
    }

    .about .about-text img {
        object-fit: cover;
        display: block;
        width: 50%;
        max-width: 50%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }





    /* Photo Carousel Section */
    .carousel {
        width: 66%;
        margin: auto;
    }



    /* Contact Section */
    .social {
        margin: 0 auto;
        width: 100%;
        background-color: white
    }

    .social-images {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .social .social-images img {
        width: 200px;
        padding: 10px;
    }

    .social .social-images .facebook {
        margin-left: 20%;
    }
    .social .social-images .instagram {
        margin-right: 20%;
    }


    .social .social-header h2 {
        padding-top: 50px;
        text-align: center;
        font-size: 4em;
        font-weight: 600;
    }
    
    .social  h3 {
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
        font-weight: 600;
    }

    .social h4 {
        text-align: center;
        font-size: 2em;    
    }

    .social .email a{
        display: inline-block;
        font-size: 2em;
        text-align: center;
        width: 100%;
    }


    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1500px) {

    .about {
        width: 66%;
    }

}


